logs/events.out.tfevents.1680247738.danidlsa.18416.0
logs/events.out.tfevents.1680249174.danidlsa.18416.2
logs/events.out.tfevents.1680249331.danidlsa.18416.3
logs/events.out.tfevents.1680249457.danidlsa.18416.5
logs/events.out.tfevents.1680250852.danidlsa.18416.7
logs/events.out.tfevents.1680251137.danidlsa.18416.8
logs/events.out.tfevents.1680253137.danidlsa.18416.10
logs/events.out.tfevents.1680253211.danidlsa.18416.11
logs/events.out.tfevents.1680254562.danidlsa.18416.13
logs/events.out.tfevents.1680254859.danidlsa.18416.14
logs/events.out.tfevents.1680256212.danidlsa.18416.16
logs/events.out.tfevents.1680256313.danidlsa.18416.17
logs/events.out.tfevents.1680257717.danidlsa.18416.19
logs/events.out.tfevents.1680258810.danidlsa.18416.20
logs/events.out.tfevents.1680260089.danidlsa.18416.22
logs/events.out.tfevents.1680260188.danidlsa.18416.23
logs/events.out.tfevents.1680260413.danidlsa.18416.25
logs/events.out.tfevents.1680261754.danidlsa.18416.27
logs/events.out.tfevents.1680261949.danidlsa.18416.28
logs/events.out.tfevents.1680262472.danidlsa.18416.30
logs/events.out.tfevents.1680262473.danidlsa.18416.31
logs/events.out.tfevents.1680263001.danidlsa.18416.33
logs/events.out.tfevents.1680263002.danidlsa.18416.34
logs/events.out.tfevents.1680263544.danidlsa.18416.36
logs/events.out.tfevents.1680264563.LAPTOP-G6SCHLD4.2632.0
logs/events.out.tfevents.1680264977.LAPTOP-G6SCHLD4.13716.0
logs/events.out.tfevents.1680265549.LAPTOP-G6SCHLD4.13716.2
logs/events.out.tfevents.1680265550.LAPTOP-G6SCHLD4.13716.3
logs/events.out.tfevents.1680266212.LAPTOP-G6SCHLD4.13716.5
logs/events.out.tfevents.1680266212.LAPTOP-G6SCHLD4.13716.6
logs/events.out.tfevents.1680266571.LAPTOP-G6SCHLD4.13716.8
logs/events.out.tfevents.1680266571.LAPTOP-G6SCHLD4.13716.9
logs/events.out.tfevents.1680266944.LAPTOP-G6SCHLD4.13716.11
logs/events.out.tfevents.1680267418.LAPTOP-G6SCHLD4.21268.0
logs/events.out.tfevents.1680267767.LAPTOP-G6SCHLD4.21268.2
logs/events.out.tfevents.1680267767.LAPTOP-G6SCHLD4.21268.3
logs/events.out.tfevents.1680268125.LAPTOP-G6SCHLD4.21268.5
logs/events.out.tfevents.1680268125.LAPTOP-G6SCHLD4.21268.6
logs/events.out.tfevents.1680268475.LAPTOP-G6SCHLD4.21268.8
logs/events.out.tfevents.1680269303.danidlsa.1512.0
logs/events.out.tfevents.1680270122.danidlsa.1512.2
logs/1680247738.9072769/events.out.tfevents.1680247738.danidlsa.18416.1
logs/1680249331.827164/events.out.tfevents.1680249331.danidlsa.18416.4
logs/1680249457.4309578/events.out.tfevents.1680249457.danidlsa.18416.6
logs/1680251137.5006354/events.out.tfevents.1680251137.danidlsa.18416.9
logs/1680253211.228196/events.out.tfevents.1680253211.danidlsa.18416.12
logs/1680254859.3440144/events.out.tfevents.1680254859.danidlsa.18416.15
logs/1680256313.709178/events.out.tfevents.1680256313.danidlsa.18416.18
logs/1680258810.3255363/events.out.tfevents.1680258810.danidlsa.18416.21
logs/1680260188.4490116/events.out.tfevents.1680260188.danidlsa.18416.24
logs/1680260413.5659208/events.out.tfevents.1680260413.danidlsa.18416.26
logs/1680261949.848704/events.out.tfevents.1680261949.danidlsa.18416.29
logs/1680262473.3588343/events.out.tfevents.1680262473.danidlsa.18416.32
logs/1680263002.2635026/events.out.tfevents.1680263002.danidlsa.18416.35
logs/1680264563.5476687/events.out.tfevents.1680264563.LAPTOP-G6SCHLD4.2632.1
logs/1680264977.5196512/events.out.tfevents.1680264977.LAPTOP-G6SCHLD4.13716.1
logs/1680265550.0159366/events.out.tfevents.1680265550.LAPTOP-G6SCHLD4.13716.4
logs/1680266212.578141/events.out.tfevents.1680266212.LAPTOP-G6SCHLD4.13716.7
logs/1680266571.7367735/events.out.tfevents.1680266571.LAPTOP-G6SCHLD4.13716.10
logs/1680267418.1699274/events.out.tfevents.1680267418.LAPTOP-G6SCHLD4.21268.1
logs/1680267767.9954386/events.out.tfevents.1680267767.LAPTOP-G6SCHLD4.21268.4
logs/1680268125.9115613/events.out.tfevents.1680268125.LAPTOP-G6SCHLD4.21268.7
logs/1680269303.6796062/events.out.tfevents.1680269303.danidlsa.1512.1
results/checkpoint-10/config.json
results/checkpoint-10/optimizer.pt
results/checkpoint-10/pytorch_model.bin
results/checkpoint-10/rng_state.pth
results/checkpoint-10/scheduler.pt
results/checkpoint-10/trainer_state.json
results/checkpoint-10/training_args.bin
results/checkpoint-114/config.json
results/checkpoint-114/optimizer.pt
results/checkpoint-114/pytorch_model.bin
results/checkpoint-114/rng_state.pth
results/checkpoint-114/scheduler.pt
results/checkpoint-114/trainer_state.json
results/checkpoint-114/training_args.bin
results/checkpoint-12/config.json
results/checkpoint-12/optimizer.pt
results/checkpoint-12/pytorch_model.bin
results/checkpoint-12/rng_state.pth
results/checkpoint-12/scheduler.pt
results/checkpoint-12/trainer_state.json
results/checkpoint-12/training_args.bin
results/checkpoint-152/config.json
results/checkpoint-152/optimizer.pt
results/checkpoint-152/pytorch_model.bin
results/checkpoint-152/rng_state.pth
results/checkpoint-152/scheduler.pt
results/checkpoint-152/trainer_state.json
results/checkpoint-152/training_args.bin
results/checkpoint-18/config.json
results/checkpoint-18/optimizer.pt
results/checkpoint-18/pytorch_model.bin
results/checkpoint-18/rng_state.pth
results/checkpoint-18/scheduler.pt
results/checkpoint-18/trainer_state.json
results/checkpoint-18/training_args.bin
results/checkpoint-19/config.json
results/checkpoint-19/optimizer.pt
results/checkpoint-19/pytorch_model.bin
results/checkpoint-19/rng_state.pth
results/checkpoint-19/scheduler.pt
results/checkpoint-19/trainer_state.json
results/checkpoint-19/training_args.bin
results/checkpoint-190/config.json
results/checkpoint-190/optimizer.pt
results/checkpoint-190/pytorch_model.bin
results/checkpoint-190/rng_state.pth
results/checkpoint-190/scheduler.pt
results/checkpoint-190/trainer_state.json
results/checkpoint-190/training_args.bin
results/checkpoint-20/config.json
results/checkpoint-20/optimizer.pt
results/checkpoint-20/pytorch_model.bin
results/checkpoint-20/rng_state.pth
results/checkpoint-20/scheduler.pt
results/checkpoint-20/trainer_state.json
results/checkpoint-20/training_args.bin
results/checkpoint-24/config.json
results/checkpoint-24/optimizer.pt
results/checkpoint-24/pytorch_model.bin
results/checkpoint-24/rng_state.pth
results/checkpoint-24/scheduler.pt
results/checkpoint-24/trainer_state.json
results/checkpoint-24/training_args.bin
results/checkpoint-30/config.json
results/checkpoint-30/optimizer.pt
results/checkpoint-30/pytorch_model.bin
results/checkpoint-30/rng_state.pth
results/checkpoint-30/scheduler.pt
results/checkpoint-30/trainer_state.json
results/checkpoint-30/training_args.bin
results/checkpoint-36/config.json
results/checkpoint-36/optimizer.pt
results/checkpoint-36/pytorch_model.bin
results/checkpoint-36/rng_state.pth
results/checkpoint-36/scheduler.pt
results/checkpoint-36/trainer_state.json
results/checkpoint-36/training_args.bin
results/checkpoint-38/config.json
results/checkpoint-38/optimizer.pt
results/checkpoint-38/pytorch_model.bin
results/checkpoint-38/rng_state.pth
results/checkpoint-38/scheduler.pt
results/checkpoint-38/trainer_state.json
results/checkpoint-38/training_args.bin
results/checkpoint-40/config.json
results/checkpoint-40/optimizer.pt
results/checkpoint-40/pytorch_model.bin
results/checkpoint-40/rng_state.pth
results/checkpoint-40/scheduler.pt
results/checkpoint-40/trainer_state.json
results/checkpoint-40/training_args.bin
results/checkpoint-48/config.json
results/checkpoint-48/optimizer.pt
results/checkpoint-48/pytorch_model.bin
results/checkpoint-48/rng_state.pth
results/checkpoint-48/scheduler.pt
results/checkpoint-48/trainer_state.json
results/checkpoint-48/training_args.bin
results/checkpoint-50/config.json
results/checkpoint-50/optimizer.pt
results/checkpoint-50/pytorch_model.bin
results/checkpoint-50/rng_state.pth
results/checkpoint-50/scheduler.pt
results/checkpoint-50/trainer_state.json
results/checkpoint-50/training_args.bin
results/checkpoint-57/config.json
results/checkpoint-57/optimizer.pt
results/checkpoint-57/pytorch_model.bin
results/checkpoint-57/rng_state.pth
results/checkpoint-57/scheduler.pt
results/checkpoint-57/trainer_state.json
results/checkpoint-57/training_args.bin
results/checkpoint-6/config.json
results/checkpoint-6/optimizer.pt
results/checkpoint-6/pytorch_model.bin
results/checkpoint-6/rng_state.pth
results/checkpoint-6/scheduler.pt
results/checkpoint-6/trainer_state.json
results/checkpoint-6/training_args.bin
results/checkpoint-60/config.json
results/checkpoint-60/optimizer.pt
results/checkpoint-60/pytorch_model.bin
results/checkpoint-60/rng_state.pth
results/checkpoint-60/scheduler.pt
results/checkpoint-60/trainer_state.json
results/checkpoint-60/training_args.bin
results/checkpoint-76/config.json
results/checkpoint-76/optimizer.pt
results/checkpoint-76/pytorch_model.bin
results/checkpoint-76/rng_state.pth
results/checkpoint-76/scheduler.pt
results/checkpoint-76/trainer_state.json
results/checkpoint-76/training_args.bin
results/checkpoint-95/config.json
results/checkpoint-95/optimizer.pt
results/checkpoint-95/pytorch_model.bin
results/checkpoint-95/rng_state.pth
results/checkpoint-95/scheduler.pt
results/checkpoint-95/trainer_state.json
results/checkpoint-95/training_args.bin
results/runs/Mar30_16-30-25_danidlsa/events.out.tfevents.1680186626.danidlsa.3976.0
results/runs/Mar30_16-30-25_danidlsa/1680186626.2489843/events.out.tfevents.1680186626.danidlsa.3976.1
results/runs/Mar30_16-32-23_danidlsa/events.out.tfevents.1680186743.danidlsa.3976.2
results/runs/Mar30_16-32-23_danidlsa/1680186743.4137216/events.out.tfevents.1680186743.danidlsa.3976.3
results/runs/Mar30_16-34-26_danidlsa/events.out.tfevents.1680186866.danidlsa.3976.4
results/runs/Mar30_16-34-26_danidlsa/1680186866.466962/events.out.tfevents.1680186866.danidlsa.3976.5
results/runs/Mar30_16-40-25_danidlsa/events.out.tfevents.1680187225.danidlsa.3976.6
results/runs/Mar30_16-40-25_danidlsa/events.out.tfevents.1680189510.danidlsa.3976.8
results/runs/Mar30_16-40-25_danidlsa/1680187225.6839154/events.out.tfevents.1680187225.danidlsa.3976.7
results/runs/Mar30_17-21-20_danidlsa/events.out.tfevents.1680189680.danidlsa.3976.9
results/runs/Mar30_17-21-20_danidlsa/events.out.tfevents.1680190771.danidlsa.3976.11
results/runs/Mar30_17-21-20_danidlsa/1680189680.3677213/events.out.tfevents.1680189680.danidlsa.3976.10
results/runs/Mar30_17-41-00_danidlsa/events.out.tfevents.1680190861.danidlsa.3976.12
results/runs/Mar30_17-41-00_danidlsa/events.out.tfevents.1680191945.danidlsa.3976.14
results/runs/Mar30_17-41-00_danidlsa/1680190861.3128028/events.out.tfevents.1680190861.danidlsa.3976.13
logs/events.out.tfevents.1680273924.LAPTOP-G6SCHLD4.17104.2
logs/events.out.tfevents.1680274477.LAPTOP-G6SCHLD4.17104.4
logs/events.out.tfevents.1680274692.LAPTOP-G6SCHLD4.17104.5
logs/events.out.tfevents.1680274735.LAPTOP-G6SCHLD4.17104.7
logs/events.out.tfevents.1680274754.LAPTOP-G6SCHLD4.17104.9
logs/events.out.tfevents.1680275211.LAPTOP-G6SCHLD4.17104.11
logs/events.out.tfevents.1680275974.LAPTOP-G6SCHLD4.17104.13
logs/events.out.tfevents.1680276900.LAPTOP-G6SCHLD4.17104.15
logs/1680273924.117593/events.out.tfevents.1680273924.LAPTOP-G6SCHLD4.17104.3
logs/1680274692.1187198/events.out.tfevents.1680274692.LAPTOP-G6SCHLD4.17104.6
logs/1680274735.430136/events.out.tfevents.1680274735.LAPTOP-G6SCHLD4.17104.8
logs/1680274754.1015072/events.out.tfevents.1680274754.LAPTOP-G6SCHLD4.17104.10
logs/1680275211.570107/events.out.tfevents.1680275211.LAPTOP-G6SCHLD4.17104.12
logs/1680275974.9975564/events.out.tfevents.1680275975.LAPTOP-G6SCHLD4.17104.14
logs/1680276900.0130675/events.out.tfevents.1680276900.LAPTOP-G6SCHLD4.17104.16
results/checkpoint-15/config.json
results/checkpoint-15/optimizer.pt
results/checkpoint-15/pytorch_model.bin
results/checkpoint-15/rng_state.pth
results/checkpoint-15/scheduler.pt
results/checkpoint-15/trainer_state.json
results/checkpoint-15/training_args.bin
results/checkpoint-45/config.json
results/checkpoint-45/optimizer.pt
results/checkpoint-45/pytorch_model.bin
results/checkpoint-45/rng_state.pth
results/checkpoint-45/scheduler.pt
results/checkpoint-45/trainer_state.json
results/checkpoint-45/training_args.bin
results/checkpoint-75/config.json
results/checkpoint-75/optimizer.pt
results/checkpoint-75/pytorch_model.bin
results/checkpoint-75/rng_state.pth
results/checkpoint-75/scheduler.pt
results/checkpoint-75/trainer_state.json
results/checkpoint-75/training_args.bin
.ipynb_checkpoints
